@charset "UTF-8";

/**
 * Geral e Portrait
 **/

.bg-amarelo {
  background-color: #ffdd65;
}

.bg-azul-claro {
  background-color: #02659c;
}

.bg-azul-escuro {
  background-color: #1d2440;
}

.bg-quase-branco {
  background-color: #fdfeff;
}

.container-geral {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  height: 100vh;
  background-color: #fee4d7;
  padding: 12px;
}

.container-geral .container-logo-seu-sindicato {
  background: #1d2440;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 30%;
  min-width: 30%;
}

.container-geral .container-logo-seu-sindicato #logo-seu-sindicato {
  width: 90%;
}

.container-geral .container-logo-seu-sindicato .textobottom {
  position: absolute;
  bottom: 1.5rem;
  color: #f6b01c;
}

.container-geral .container-logo-seu-sindicato .textobottom .fundo-azul-claro {
  background-color: #02659c;
  width: 100px;
  height: 19px;
}

.container-geral .container-logo-seu-sindicato .textobottom p {
  font-weight: bold;
  text-align: right;
  font-size: 0.8rem;
  margin-top: -25px;
  line-height: 1rem;
}

.container-geral h3 {
  font-size: 1.15rem;
}

.container-geral .titulo-sindicato {
  font-size: 1.35rem;
}

.container-geral .negrito {
  font-weight: bold;
}

.container-geral .carteirinha {
  -webkit-box-shadow: 2px 2px 12px 2px #717171;
          box-shadow: 2px 2px 12px 2px #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d2440;
  border: 1px solid #1d2440;
  border-radius: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  overflow: hidden;
}

.container-geral .carteirinha .container-resto {
  height: 100%;
  background-color: #fdfeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-geral .carteirinha .container-resto span {
  font-size: 0.9rem;
}

.container-geral .carteirinha .container-resto .label-info-carteirinha {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  background-color: #ffdd65;
  display: -webkit-inline-box;
  text-align: -webkit-right;
  width: 30%;
}

.container-geral .carteirinha .container-resto .container-infos-sindicato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-geral .carteirinha .container-resto .container-infos-sindicato .container-logo-sindicato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin: 0 1.5rem;
}

.container-geral .carteirinha .container-resto .container-infos-sindicato .container-logo-sindicato img {
  width: 100%;
  height: 100%;
}

/**
 * Adaptações landscape
***/

