html {
  font-family: Arial, Helvetica, sans-serif;
}

.header div:first-child {
  background-color: #fce5d7;
}

.header div:first-child img {
  height: 70px;
}

.header div:last-child {
  padding: 0 15px;
  background-color: #ffe063;
}

.login {
  background-color: #0195e5;
  height: 500px;
}

.menu {
  height: 200px;
  background-color: #f9b208;
}

.video-news {
  height: 400px;
  background-color: #e95b11;
}

.syndicates {
  height: 200px;
  background-color: #5eb6e8;
}

