/**
* Geral e Portrait
**/

.container-geral {
    height:100vh;
    background-color: black;
    padding: 20px;
    #logo-seu-sindicato {
        width: 100px;
        margin: 0.5rem auto;
    }
    h3 {
        font-size: 1.15rem;
    }
    .titulo-sindicato {
        font-size: 1.35rem;
    }
    .negrito {
        font-weight:bold;
    }
    .carteirinha {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fdfeff;
        border-radius: 20px;
        text-align: center;
        height:90vh;
        overflow:hidden;
    }
    .container-infos-sindicato {
        margin-top: -80px;
        padding:20px;
        .container-logo-sindicato {
            padding:20px;
            display:flex;
            justify-content:center;
            width:100%;

            img {
                height: 200px;
                width: 200px;
            }
        }
    }
}


/**
 * Adaptações landscape
***/
@media all and (orientation:landscape) {
.container-geral {
    #logo-seu-sindicato {
        width: 80px;
        margin: 0.5rem;
        float:left;
    }
    .carteirinha {
        display: block;
        text-align: center;
        height:80vh;
    }
    .container-infos-sindicato {
        display:flex;
        align-items:center;
        width:100%;
        margin-top: 3.5rem;
        padding:0;

        .container-logo-sindicato {
        padding:0;
            width: 25vw;
            img {
                height: 120px;
                width: 120px;
            }
        }
    }
    .container-infos-associado {
        text-align: left;
        padding: 10px 25px;

        h3 {
            font-size:1.2rem;
        }
    }
}
}
