$pink-1: #fce5d7;
$yellow-1: #ffe063;
$yellow-2: #f9b208;
$oranje-1: #e95b11;
$blue-1: #5eb6e8;
$blue-2: #0195e5;

html {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  div {
    &:first-child {
      background-color: $pink-1;

      img {
        height: 70px;
      }
    }
    &:last-child {
      padding: 0 15px;
      background-color: $yellow-1;
    }
  }
}

.login {
  background-color: $blue-2;
  height: 500px;
}

.menu {
  height: 200px;
  background-color: $yellow-2;
}

.video-news {
  height: 400px;
  background-color: $oranje-1;
}

.syndicates {
  height: 200px;
  background-color: $blue-1;
}
