$white-1: white;
$pink-1: #fce5d7;
$yellow-1: #ffe063;
$yellow-2: #f9b208;
$oranje-1: #e95b11;
$blue-1: #5eb6e8;
$blue-2: #0195e5;
$blue-3: #2c669c;
$black-1: #1c1a1f;

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    content: "\00a0...";
    position: absolute;
    right: 1rem;
    bottom: 1px;
    background: $bgColor;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

html {
  font-family: "Roboto", sans-serif;
  color: $black-1;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

@import "landingpage_home";
@import "landingpage_subpage";
