.logo-home {
	background-color: $pink-1;

	.content {
		padding: 1rem;

		@media (min-width: 1200px) {
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			align-content: center;
		}

		img {
			width: 12rem;
			display: block;

			@media (min-width: 768px) {
				width: 14rem;
			}

			@media (min-width: 992px) {
				width: 16rem;
			}

			@media (min-width: 1200px) {
				width: 18rem;
			}
		}
	}
}

.login-home {
	background-color: $blue-2;
	position: relative;

	@media (min-width: 1200px) {
		position: absolute;
		top: 0;
		right: 0;
		height: 536.67px;
		width: 26%;
	}

	.navigation-home {
		display: none;
		position: absolute;
		left: -292px;
		top: 58px;

		@media (min-width: 1200px) {
			display: block;
		}

		a {
			color: $yellow-2;
			transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
			display: inline-block;
			margin: 1rem 2rem 1.5rem 0;

			&:hover,
			&:active,
			&:focus {
				color: $blue-2;
			}

			h2 {
				position: relative;

				&:after {
					content: '';
					width: 2.5rem;
					height: 0.3rem;
					background-color: $yellow-2;
					position: absolute;
					left: 0;
					bottom: -0.4rem;
				}
			}
		}
	}

	.content {
		padding: 1rem;
		max-width: 360px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		@media (min-width: 992px) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		@media (min-width: 1200px) {
			flex-direction: column;
			align-items: stretch;
			height: 550.34px;
		}

		h2,
		p {
			color: $white-1;
		}

		.login-1 {
			@media (min-width: 992px) {
				padding-right: 1rem;
				border-right: 2px solid $white-1;
			}

			@media (min-width: 1200px) {
				padding-right: 0;
				border-right: none;
			}

			> p:last-of-type {
				color: $yellow-1;
				margin-bottom: 1rem;

				@media (min-width: 992px) {
					margin-bottom: 0;
				}

				@media (min-width: 1200px) {
					margin-bottom: 1rem;
				}
			}
		}

		.login-2 {
			p,
			h2 {
				white-space: nowrap;
				font-weight: 500;
			}

			@media (min-width: 992px) {
				margin: 0 1rem;
			}

			@media (min-width: 1200px) {
				margin: 0;
			}

			p {
				margin-bottom: 0.5rem;

				@media (min-width: 992px) {
					margin-bottom: 0;
				}

				@media (min-width: 1200px) {
					margin-bottom: 0.5rem;
				}
			}
		}

		.login-3 {
			form {
				@include loginForm();

				@media (min-width: 992px) {
					width: 14rem;
				}

				@media (min-width: 1200px) {
					width: auto;
				}
			}
		}
	}
}

.hero-home {
	background-color: $yellow-1;

	.content {
		padding: 2rem 1rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 22rem;
		margin: 0 auto;

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: auto;
		}

		@media (min-width: 1200px) {
			max-width: 1200px;
			margin: 0 auto;
			justify-content: start;
		}

		.hero-1 {
			@media (min-width: 768px) {
				margin-right: 2rem;
			}

			h1,
			h2 {
				color: $blue-3;
			}

			h2,
			h3,
			h4 {
				margin-bottom: 1rem;
			}

			h2 {
				position: relative;

				&:after {
					content: '';
					width: 4rem;
					height: 0.4rem;
					background-color: $oranje-1;
					position: absolute;
					left: 0;
					bottom: -0.5rem;
				}
			}

			.button {
				padding: 0.8rem;
				border: 2px solid $blue-3;
				color: $blue-3;
				font-size: 1.5rem;
				display: inline-block;
				margin-right: 1rem;

				i {
					font-size: 1.8rem;
					margin-right: 0.5rem;
				}

				&:last-of-type {
					margin-right: 0;
					margin-bottom: 1rem;

					@media (min-width: 768px) {
						margin-bottom: 0;
					}
				}
			}
		}

		.hero-2 {
			align-self: flex-end;
			display: none;
			width: 15rem;
			margin-bottom: -2rem;

			img {
				width: 100%;
				display: block;
			}

			@media (min-width: 992px) {
				display: block;
			}
		}

		.hero-3 {
			h4 {
				color: $blue-3;
				position: relative;
				margin-bottom: 1rem;
				line-height: 1.2rem;

				&:after {
					content: '';
					width: 2.5rem;
					height: 0.3rem;
					background-color: $oranje-1;
					position: absolute;
					left: 0;
					bottom: -0.4rem;
				}

				&:last-of-type {
					@media (min-width: 768px) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
