.videos-title {
	background-color: $blue-1;

	.content {
		padding: 2rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media only screen and (min-width: 1200px) {
			max-width: 1200px;
			margin: 0 auto;
		}

		a {
			color: $oranje-1;
		}

		a:hover,
		a:active {
			color: lighten($oranje-1, 10%);
		}
	}
}

.videos-gallery {
	background-color: $blue-2;

	.content {
		padding: 2rem 1rem 0 1rem;
		display: flex;
		align-items: center;
		flex-direction: column;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			padding: 2rem 0 1rem 1rem;
			justify-content: center;
		}

		@media only screen and (min-width: 1200px) {
			max-width: 1200px;
			margin: 0 auto;
			justify-content: space-between;
		}

		.video-box {
			margin: 2rem 15px 0 15px;
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 330px;

			@media only screen and (min-width: 768px) {
				margin: 0 1rem 1rem 0;
				width: 360px;
			}

			@media only screen and (min-width: 1200px) {
				width: 550px;
				margin-bottom: 3rem;
			}

			iframe {
				width: 330px;
				height: 300px;
				border: none;

				@media only screen and (min-width: 768px) {
					width: 360px;
					height: 315px;
				}

				@media only screen and (min-width: 1200px) {
					width: 550px;
					height: 450px;
				}
			}

			h2 {
				color: $white-1;
				margin: 0.7rem 0 0.5rem;
			}
		}
	}
}
