.videos-title {
	background-color: $blue-1;

	.content {
		padding: 2rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media only screen and (min-width: 1200px) {
			max-width: 1200px;
			margin: 0 auto;
		}

		a {
			color: $oranje-1;
		}

		a:hover,
		a:active {
			color: lighten($oranje-1, 10%);
		}
	}
}
